node_modules
video-generator/__pycache__/*.pyc

# Environment
.env

# Assets
assets/music/*.mp3
assets/subtitle/*.srt
assets/subtitle/*.txt
assets/video/*.mp4
script/*.txt

# Build
build/audio/*.mp3
build/*.mp4

# Temp
*.mp4
*.mp3